@font-face {
    src: url("./Pretendard-Regular.otf") format("woff2");
    font-family: "pretendard-regular";
  }
  
  @font-face {
    src: url("./Pretendard-Bold.otf") format("woff2");
    font-family: "pretendard-bold";
  }
  
  @font-face {
    src: url("./Pretendard-ExtraBold.otf") format("woff2");
    font-family: "pretendard-extrabold";
  }
  
  @font-face {
    src: url("./Pretendard-ExtraLight.otf") format("woff2");
    font-family: "pretendard-extralight";
  }
  
  @font-face {
    src: url("./Pretendard-Black.otf") format("woff2");
    font-family: "pretendard-black";
  }
  
  @font-face {
    src: url("./Pretendard-Light.otf") format("woff2");
    font-family: "pretendard-light";
  }
  
  @font-face {
    src: url("./Pretendard-Medium.otf") format("woff2");
    font-family: "pretendard-medium";
  }
  
  @font-face {
    src: url("./Pretendard-SemiBold.otf") format("woff2");
    font-family: "pretendard-semibold";
  }
  
  @font-face {
    src: url("./Pretendard-Thin.otf") format("woff2");
    font-family: "pretendard-thin";
  }
  